--self insert
--trimwhitespace always
--comments ignore
--commas always
--wrapelements beforefirst
--elseposition sameline
--patternlet inline
--indent 4
--ifdef noindent
--wrapcollections beforefirst
--wraparguments beforefirst
--stripunusedargs closure-only
--importgrouping testable-bottom

--enable blankLinesAtEndOfScope,blankLinesAtStartOfScope,blankLinesBetweenScopes,blankLinesAroundMark,braces,consecutiveBlankLines,consecutiveSpaces,duplicateImports,emptyBraces,linebreakAtEndOfFile,numberFormatting,redundantBackticks,redundantLet,redundantLetError,redundantNilInit,redundantParens,redundantPattern,redundantRawValues,redundantReturn,redundantVoidReturnType,redundantInit,semicolons,spaceAroundBraces,spaceAroundBrackets,spaceAroundComments,spaceAroundGenerics,spaceAroundOperators,spaceAroundParens,spaceInsideBraces,spaceInsideBrackets,spaceInsideComments,spaceInsideGenerics,spaceInsideParens,specifiers,strongOutlets,trailingSpace

--disable andOperator,unusedArguments